[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-coins{
	width: 40px;
	height: 36px;
	background: url(../img/icons/coins.png) no-repeat center center;
}

.icon-inspection{
	width: 60px;
	height: 60px;
	background: url(../img/icons/inspection.png) no-repeat center center;
}

.icon-orthodontics{
	width: 88px;
	height: 86px;
	background: url(../img/icons/orthodontics.png) no-repeat center center;
}

.icon-therapy{
	width: 86px;
	height: 80px;
	background: url(../img/icons/therapy.png) no-repeat center center;
}

.icon-cure{
	width: 54px;
	height: 81px;
	background: url(../img/icons/cure.png) no-repeat center center;
}

.icon-instagram{
	width: 32px;
	height: 32px;
	background: url(../img/icons/instagram.png) no-repeat center center;
}

.icon-orthopedics{
	width: 89px;
	height: 83px;
	background: url(../img/icons/orthopedics.png) no-repeat center center;
}

.icon-toothbrush{
	width: 116px;
	height: 66px;
	background: url(../img/icons/toothbrush.png) no-repeat center center;
}

.icon-diamond{
	width: 64px;
	height: 64px;
	background: url(../img/icons/diamond.png) no-repeat center center;
}

.icon-diamond-green{
	width: 64px;
	height: 64px;
	background: url(../img/icons/diamond-green.png) no-repeat center center;
}

.icon-installment-services{
	width: 41px;
	height: 44px;
	background: url(../img/icons/installment-services.png) no-repeat center center;
}

.icon-parking{
	width: 36px;
	height: 38px;
	background: url(../img/icons/parking.png) no-repeat center center;
}

.icon-tooth-screen{
	width: 60px;
	height: 60px;
	background: url(../img/icons/tooth-screen.png) no-repeat center center;
}

.icon-discount{
	width: 64px;
	height: 64px;
	background: url(../img/icons/discount.png) no-repeat center center;
}

.icon-discount-green{
	width: 64px;
	height: 64px;
	background: url(../img/icons/discount-green.png) no-repeat center center;
}

.icon-instruments{
	width: 50px;
	height: 86px;
	background: url(../img/icons/instruments.png) no-repeat center center;
}

.icon-phone{
	width: 16px;
	height: 16px;
	background: url(../img/icons/phone.png) no-repeat center center;
}

.icon-vk{
	width: 32px;
	height: 32px;
	background: url(../img/icons/vk.png) no-repeat center center;
}

.icon-doctor{
	width: 35px;
	height: 40px;
	background: url(../img/icons/doctor.png) no-repeat center center;
}

.icon-kids-dentistry{
	width: 84px;
	height: 86px;
	background: url(../img/icons/kids-dentistry.png) no-repeat center center;
}

.icon-providers{
	width: 41px;
	height: 86px;
	background: url(../img/icons/providers.png) no-repeat center center;
}

.icon-whitening{
	width: 82px;
	height: 85px;
	background: url(../img/icons/whitening.png) no-repeat center center;
}

.icon-equipment{
	width: 62px;
	height: 64px;
	background: url(../img/icons/equipment.png) no-repeat center center;
}

.icon-equipment-green{
	width: 62px;
	height: 64px;
	background: url(../img/icons/equipment-green.png) no-repeat center center;
}

.icon-location{
	width: 12px;
	height: 16px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-star{
	width: 22px;
	height: 20px;
	background: url(../img/icons/star.png) no-repeat center center;
}

.icon-youtube{
	width: 32px;
	height: 32px;
	background: url(../img/icons/youtube.png) no-repeat center center;
}

.icon-facebook{
	width: 32px;
	height: 32px;
	background: url(../img/icons/facebook.png) no-repeat center center;
}

.icon-med{
	width: 16px;
	height: 16px;
	background: url(../img/icons/med.png) no-repeat center center;
}

.icon-surgery{
	width: 82px;
	height: 86px;
	background: url(../img/icons/surgery.png) no-repeat center center;
}

.icon-implant{
	width: 66px;
	height: 86px;
	background: url(../img/icons/implant.png) no-repeat center center;
}

.icon-odniklassniki{
	width: 32px;
	height: 32px;
	background: url(../img/icons/odniklassniki.png) no-repeat center center;
}

.icon-team{
	width: 64px;
	height: 60px;
	background: url(../img/icons/team.png) no-repeat center center;
}

.icon-team-green{
	width: 64px;
	height: 60px;
	background: url(../img/icons/team-green.png) no-repeat center center;
}

.icon-tools{
	width: 50px;
	height: 86px;
	background: url(../img/icons/tools.png) no-repeat center center;
}

.icon-tooth-filling{
	width: 81px;
	height: 86px;
	background: url(../img/icons/tooth-filling.png) no-repeat center center;
}

.icon-canal-treatment{
	width: 79px;
	height: 86px;
	background: url(../img/icons/canal-treatment.png) no-repeat center center;
}

.icon-visa{
	width: 51px;
	height: 15px;
	background: url(../img/icons/visa.png) no-repeat center center;
}

.icon-mastercard{
	width: 35px;
	height: 21px;
	background: url(../img/icons/mastercard.png) no-repeat center center;
}

.icon-sberbank{
	width: 27px;
	height: 26px;
	background: url(../img/icons/sberbank.png) no-repeat center center;
}

.icon-apple-pay{
	width: 47px;
	height: 23px;
	background: url(../img/icons/apple-pay.png) no-repeat center center;
}