.btn{
	display: inline-flex;
	border: none;
	transition: all $t;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	align-items: center;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	border-radius: $r;
	background: $accent;
	color: #fff;
	justify-content: center;
	align-items: center;
	padding: 11px 17px;
	border: 1px solid transparent;
	text-transform: uppercase;
	position: relative;
	-webkit-appearance: none;
	font-weight: bold;

	&:hover{
		background: darken($accent, 10%);
	}

	[class^="icon-"], [class*=" icon-"]{
		&:first-child{
			margin-right: 13px;
		}

		&:last-child{
			margin-left: 13px;
		}
	}

	&.btn-light{
		border-color: #e6e6e6;
		background: transparent;
		color: $primary;
		font-size: 11px;
		line-height: 14px;
		font-weight: 400;

		&:hover{
			background: $primary;
			border-color: $primary;
			color: #fff;
		}

		&.btn-rounded{
			border-radius: 16px;
		}
	}

	&.btn-rounded{
		border-radius: 22px;
	}

	&.btn-small{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	&.btn-bold{
		font-size: 14px;
		line-height: 20px;
		color: $text-dark;
		text-transform: uppercase;
		font-weight: bold;
	}

	&.btn-wide{
		min-width: 240px;
	}

	&.fullwidth{
		width: 100%;
	}

	@media screen and (max-width: 575px){
		&.xs-fullwidth{
			width: 100%;
		}
	}
}