.proposal-block{
	display: flex;
	min-height: 440px;
	padding: 60px 0;
	align-items: center;
	position: relative;

	.block-bg{
		position: absolute;
		height: 100%;
		background-position: center bottom;
		background-size: cover;
	}

	.block-content{
		position: relative;
		z-index: 10;
	}

	.block-title{
		margin-bottom: 15px;
	}

	.btn{
		margin-top: 45px;
	}

	&.main-page-proposal{
		.block-bg{
			left: 300px;
			width: 713px;

			@media screen and (max-width: 767px){
				left: 140px;
			}

			@media screen and (max-width: 575px){
				display: none;
			}
		}
	}

	&.therapy-page-proposal{
		.block-bg{
			left: 300px;
			width: 775px;

			@media screen and (max-width: 767px){
				left: 140px;
			}

			@media screen and (max-width: 575px){
				display: none;
			}
		}
	}
}