.header{
	position: relative;
	background: #fff;
	z-index: 5;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		background: $gradient;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
	}

	.header-inner{
		padding: 20px 0;
		display: flex;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		justify-content: space-between;

		> .header-block{
			padding: 0 15px;
		}

		&:last-child{
			padding-top: 0;
		}

		@media screen and (max-width: 1199px){
			align-items: center;
		}
	}

	.info-list{
		margin-top: 20px;
	}

	@media screen and (max-width: 767px){
		box-shadow: $shadow;

		.mobile-contacts{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;

			> .item{
				padding: 0 15px;
			}
		}
	}
}