.logo{
	display: flex;
	align-items: center;

	.logo-image{
		display: block;
		margin-right: 15px;
		flex: none;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.logo-text{
		.name{
			font-size: 24px;
			line-height: 1;
			font-weight: 500;
			color: $text-dark;
			margin-bottom: 5px;
			display: block;
			transition: all $t;
		}

		.description{
			font-size: 14px;
			line-height: 1;
			color: $text-light;
			display: block;
		}
	}

	&:hover{
		.logo-text{
			.name{
				color: $accent;
			}
		}
	}

	@media screen and (max-width: 767px){
		.logo-image{
			width: 54px;
		}
	}
}